#section11 {
    width: 100%;
    height: 265px;
    padding: 50px 0;
    background: white;
    font-family: 'Poppins', sans-serif;

}

#section11 .container {
    width: 100%;
    height: 100%;
}

#section11 .swiper-slide {
    display: flex;
    justify-content: space-around;
}

#section11 .img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#section11 .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--green);
}